<div class="home">
  <div class="home-banner">
    Something
  </div>
  <h1>Discover</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <section>
    <h2>Section</h2>
    <ul class="row">
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
      <div class="image-wrapper"></div>
        Company
      </li>
            <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
    </ul>
  </section>
  <section>
    <h2>Section</h2>
    <ul class="row">
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
      <div class="image-wrapper"></div>
        Company
      </li>
            <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
    </ul>
  </section>
  <section>
    <h2>Section</h2>
    <ul class="row">
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
      <div class="image-wrapper"></div>
        Company
      </li>
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
      <li>
        <div class="image-wrapper"></div>
        Company
      </li>
    </ul>
  </section>
</div>
