.navbar {
  justify-content: space-between;
  background: white;
  z-index: 100;
  box-shadow: 0px 2px 12px 4px #00000012;
  height: 72px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
